html, body {
    padding: 0;
    margin: 0;
    flex-direction: column;
    min-height: 200vh;
    
  }
  
  .navbar-container {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    background-color: #272625;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer-container {
    width: 100%;
    bottom: 0px;
    height: 137px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: #efc770;
  }

  .nav-text{
    top: 30px;
    left: 37px;
    position: absolute;
    font-size: 30px;
    color: rgb(232, 169, 11);
  }

  .btn1 {
    top: 60px;
    color: rgb(255, 255, 255);
    right: 310px;
    margin: auto;
    position: absolute;
    font-size: 22px;
  }
  .btn2 {
    top: 60px;
    color: rgb(255, 255, 255);
    right: 190px;
    margin: auto;
    position: absolute;
    font-size: 22px;
  }
  .btn3 {
    top: 60px;
    color: rgb(255, 255, 255);
    right: 70px;
    margin: auto;
    position: absolute;
    font-size: 22px;
  }